.videolar {
  padding: 0;
  width: 100%;

  &__item + &__item {
    margin-left: 20px;
  }
}

.img-title {
  text-decoration: none !important;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #19202c;
}
