.header {
  padding-top: 10px;
  display: flex;
  align-items: center;

  &__search {
    outline-color: rgb(41, 41, 175);
    max-width: 500px;
    width: 100%;
    margin-left: 59px;
    padding: 10px 23px;
    background: #f9f9f9;
    mix-blend-mode: normal;
    border-radius: 22px;
    border-color: transparent;
  }

  &__sidebar {
    cursor: pointer;
    margin-right: 28px;
    border: none;
    background-color: transparent;
  }
}

.header-right-box {
  margin-left: auto;
  margin-right: 45px;
  max-width: 175px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
